- chat room
    - emojiis
    - filter html entities


message types:
- create room
    - ignore if user already in a room
- make move
- chat
    - show number, the nusername, ie 1 Bowserinator: 
- change username


Next TODO;
- logger
- username changes
- readying (future games)
- README
- document protocol 
- tests
- 



game has ready state
- set ready()
- on move
- on join
- on leave
- on restart

player on join:
- reject if already in game

