body {
    background-color: #eee;
    font-family: 'Rajdhani', sans-serif;
    margin: 0;
    overflow: hidden;
}

#disconnect-banner {
    background-color: #ff5f52;
    z-index: 999;
    position: fixed;
    left: 0;

    width: 100%;
    padding: 14px;
    text-align: center;
    font-size: 16pt;
    transition: top 0.2s;
}
