body {
    background-color: #eee;
    font-family: 'Rajdhani', sans-serif;
    margin: 0;
    overflow: hidden;
}

#disconnect-banner {
    background-color: #ff5f52;
    z-index: 999;
    position: fixed;
    left: 0;

    width: 100%;
    padding: 14px;
    text-align: center;
    padding: 7px 14px;
    transition: top 0.2s;
}

#sidebar {
    background-color: #222;
    border-left: 3px solid #444;
    color: white;

    z-index: 990;
    position: fixed;
    right: 0;
    top: 0;

    box-sizing: border-box;
    padding: 14px;
    width: 250px;
    height: 100%;
    text-align: left;
    font-size: 16pt;
    user-select: none;
}

button {
    margin: 0;
    display: block;
    padding: 7px;
    width: 100%;
    border-radius: 2px;

    font-family: 'Rajdhani', sans-serif;
    font-size: 16pt;
    text-align: left;

    border: none;
    outline: none;
    background-color: transparent;
    color: #ddd;
    transition: background-color 0.2s, color 0.2s;
}

button:hover {
    color: white;
    cursor: pointer;
}

#sidebar button:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

/* Game title */
#sidebar > h1 {
    margin: 0 0 10px 0;
}

#sidebar .score {
    margin: 4px;
    background-color: red;
    color: black;
    padding: 7px;
    border-radius: 2px;
    height: 27px;
}

#sidebar .score > .username {
    width: 160px;
}
#sidebar .score > .score-number {
    float: right;
    width: 30px;
}

#sidebar .score > .username,
#sidebar .score > .score-number {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
}

#sidebar .score.dead {
    opacity: 0.4;
    filter: grayscale(40%);
}

/* Game modals */
.modal {
    width: 600px;
    max-width: 90%;
    max-height: 90%;
    background-color: #111;
    color: #eee;
    border: 2px solid black;

    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    overflow-y: auto;
}

.powerup-tutorial-img {
    width: 18px;
    height: 18px;
    margin-right: 4px;
    position: relative;
    top: 4px;
}

/* Lobby */
#lobby {
    width: calc(100% - 250px);
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    box-sizing: border-box;

    background-color: #222;
    color: #ddd;
    padding: 40px;
}

#lobby label {
    font-size: 14pt;
}

input[type=text] {
    outline: none;
    border: none;
    padding: 14px;

    background-color: #333;
    color: #ddd;
    font-family: 'Rajdhani', sans-serif;
    font-size: 15pt;
    border-radius: 2px;
    transition: background-color 0.2s;
}

input[type=text]:focus {
    background-color: #444;
}

.text-button {
    width: auto;
    display: inline-block;
    font-size: 15pt;
    height: 54px;
    padding: 7px 14px; 
    background-color: #444;
}

.text-button:hover {
    background-color: #666;
}

.color-button {
    width: 40px;
    height: 40px;
    background-color: red;
    display: inline-block;
    margin: 0 3px 3px 0;
    filter: brightness(90%);
    transition: filter 0.2s;
}

.color-button:hover {
    filter: brightness(100%);
}

.color-button:disabled {
    opacity: 0.15;
}

.selectable-button {
    border: 3px solid transparent;
}

.selectable-button.selected {
    border: 3px solid white;
}


/* Scrollbar*/
::-webkit-scrollbar {
    width: 4px;
    height: 2px;
}

::-webkit-scrollbar-button {
    width: 0px;
    height: 0px;
}

::-webkit-scrollbar-thumb {
    background: #e1e1e1;
    border: 0px none #ffffff;
    border-radius: 50px;
}

::-webkit-scrollbar-thumb:hover {
    background: #ffffff;
}

::-webkit-scrollbar-thumb:active {
    background: #000000;
}

::-webkit-scrollbar-track {
    background: #666666;
    border: 0px none #ffffff;
    border-radius: 50px;
}

::-webkit-scrollbar-track:hover {
    background: #666666;
}

::-webkit-scrollbar-track:active {
    background: #333333;
}

::-webkit-scrollbar-corner {
    background: transparent;
}
