body {
    margin: 0;
    color: #333;
    background-color: #fcfcfc;
    Font-Family: 'Open Sans', Sans-Serif;
}

canvas {
    border: 1px solid black;
    margin: 20px 40px;
}


.right-container {
    margin: 0 48px 0 0;
}
.right-container > div:not(:first-child) {
    height: 80vh;
}

.js-tabs {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    font-variant: small-caps;
    font-size: 13pt;
}


.js-tab-container > div:not(:first-child) {
    padding: 30px;
    border: 1px solid #ccc;
    overflow-y: auto;

    right: 0px;
}

.js-tabs > div {
    padding: 6px 20px;
    background-color: #f1f1f1;
    border: 1px solid #ccc;
    border-top: 4px solid transparent;
    color: #777;
}
.js-tabs>div.active {
    border-top: 4px solid black;
    border-bottom: none;
    background-color: transparent;
    box-shadow: 0px 1px 0px 0px #f1f1f1;
    color: black;
    z-index: 100;
}


.connect6-title {
    font-size: 16pt;
    font-family: 'Raleway', Sans-Serif;
    
    margin: 10px 0 0 0;
    padding: 12px 24px;
    display: inline-block;

    background-color: black;
    color: white;
}

h2 {
    margin-top: 20px;
    color: black;
    font-family: 'Raleway', Sans-Serif;
    font-weight: normal;
    border-bottom: 1px solid rgba(0, 0, 0, 0.08);
}

.side {
    padding: 28px 40px;
}

.game-link > small {
    color: #777;
}

.game-link {
    font-size: 12pt;
    margin-bottom: 0;

    border-bottom: 1px solid #777;
    white-space:nowrap;
    color: #333;
    overflow-x: auto;
    background-color: rgba(0, 0, 0, 0.02);
    padding: 12px;
    overflow-x: auto;
    border-radius: 8px 8px 0 0;
    cursor: pointer;
    user-select: none;
}

@keyframes flash {
    from {
        background-color: #8bf268;
    }
    to {
        background-color: rgba(0, 0, 0, 0.02);
    }
}

.game-link.flash {
    animation: flash 0.3s ease-in-out 0s;
}

button {
    outline: none;
    border: none;
    width: 100%;
    
    padding: 20px 40px;
    background-color: black;
    color: white;
    cursor: pointer;

    font-family: 'Raleway', Sans-Serif;
    font-weight: normal;
    font-size: 14pt;
    user-select: none;
    font-variant: small-caps;

    box-shadow: 0px 0.7px 1.3px rgba(0, 0, 0, 0.057),
        0px 2.5px 4.2px rgba(0, 0, 0, 0.083),
        0px 11px 19px rgba(0, 0, 0, 0.14);
    transition: 0.2s box-shadow, 0.2s background-color;
}

button:hover {
    box-shadow: 0px 2px 1.3px rgba(0, 0, 0, 0.057),
        0px 6.7px 4.2px rgba(0, 0, 0, 0.083),
        0px 15px 19px rgba(0, 0, 0, 0.14);
    background-color: #333;
}

button:disabled {
    cursor: not-allowed;
    opacity: 0.4;
}


.players {
    line-height: 30pt;
    vertical-align: middle;
    position: relative;
    padding-left: 30pt;
    font-size: 16pt;
    margin-right: 20px;
    margin-top: 10px;
}
.players.missing {
    opacity: 0.3;
    cursor: not-allowed;
}

.piece {
    width: 20pt;
    height: 20pt;
    border-radius: 50%;
    border: 1px solid black;
    display: inline-block;
    transform: translateY(-50%);
    top: 50%;
    left: 0;
    position: absolute;
}

.piece.black { background-color: black; }
.piece.white { background-color: white; }

.player {
    padding: 5px 15px;
    border: 1px solid black;
    font-family: 'Raleway', Sans-Serif;
}
.player.black {
    background-color: black;
    color: white;
}
.player.white {
    color: black;
    background-color: white;
}


::-webkit-scrollbar {
    width: 4px;
    height: 2px;
}

::-webkit-scrollbar-button {
    width: 0px;
    height: 0px;
}

::-webkit-scrollbar-thumb {
    background: #e1e1e1;
    border: 0px none #ffffff;
    border-radius: 50px;
}

::-webkit-scrollbar-thumb:hover {
    background: #ffffff;
}

::-webkit-scrollbar-thumb:active {
    background: #000000;
}

::-webkit-scrollbar-track {
    background: #666666;
    border: 0px none #ffffff;
    border-radius: 50px;
}

::-webkit-scrollbar-track:hover {
    background: #666666;
}

::-webkit-scrollbar-track:active {
    background: #333333;
}

::-webkit-scrollbar-corner {
    background: transparent;
}


.modal-darken {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
}

.modal {
    z-index: 1001;
    position: fixed;
    bottom: 20px; right: 20px;
    background-color: white;
    max-width: 100%;
    min-width: 600px;
    padding: 30px;
}

.modal > h1 { margin: 0 0 10px 0; }

#disabled-reason {
    font-size: 12pt;
    margin-bottom: 4px;
}
